section.about#about
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-md-5.col-xl-3.text-left.text-lg-left.mt-3
                .d-flex.align-items-center.flex-nowrap.about__item
                    span.about__more Более
                    span.about__num.about__num_19 19000
                    span.about__mans Человек
                p.about__students.text-left Обучаются
            .col-12.col-md-5.col-xl-3.text-left.text-lg-left.mt-3
                .d-flex.align-items-center.flex-nowrap.about__item
                    span.about__more Более
                    span.about__num 150
                    span.about__mans учебных программ
                p.about__students.text-left Реализуется 
            .col-12.col-md-5.col-xl-3.text-left.text-lg-left.mt-3
                .d-flex.align-items-center.flex-nowrap.about__item
                    span.about__more Более
                    span.about__num 400
                    span.about__mans Предприятий
                p.about__students.text-left Доверяют нам
            .col-12.col-md-5.col-xl-3.text-left.text-lg-left.mt-3
                .d-flex.align-items-center.flex-nowrap.about__item
                    span.about__more Более
                    span.about__num 25
                    span.about__mans Учебных групп
                p.about__students.text-left Ежемесячно открывается
        .row.mt-5.align-items-center
            .col-12.col-lg-6.text-left
                h2.about__title О нас
                ul.about__list
                    li.about__list_item 
                        span.num 01
                        p.about__list_item_text Основная сфера деятельности – подготовка, повышение квалификации и переподготовка рабочих (служащих)
                    li.about__list_item
                        span.num 02
                        p.about__list_item_text На рынке образовательных услуг работаем с 2015 года
                    li.about__list_item
                        span.num 03
                        p.about__list_item_text Скорость и качество оказываемых услуг достигается за счет работы нескольких региональных групп выездного обучения
                    li.about__list_item
                        span.num 04
                        p.about__list_item_text География деятельности охватывает Брестскую, Минскую и Гродненскую области
                    li.about__list_item
                        span.num 05
                        p.about__list_item_text Наша команда - это только квалифицированные и компетентные специалисты
            .col-12.col-lg-6.text-center.text-lg-left.animated.wow.bounceInRight.delay-0.7s
                .direction__info
                    img.img-fluid(src="img/person.jpg")
                    