body
    include header.pug
    include training.pug
    include conditions.pug
    include direction.pug
    include about.pug
    include partners.pug
    include map.pug
    include contacts.pug
    include footer.pug
    include scripts.pug