section.conditions#conditions
    .container
        .row.align-items-center
            .col-12.col-lg-6.text-left
                h2.conditions__title Лучшие условия <br> на рынке
                p.conditions__text Работая с 2015 года, мы приобрели опыт прямых связей с заказчиками, улучшили содержание обучения и укрепили учебно-материальную базу, что позволяет решать задачи по обеспечению отраслей экономики профессиональными кадрами требуемого уровня квалификации и удовлетворения потребностей граждан в профессиональном совершенствовании.
            .col-12.col-lg-6.text-center
                ul.conditions__adv
                    li.conditions__adv_item: p Лучшая <br> цена
                    li.conditions__adv_item: p Гибкая <br> Цена
                    li.conditions__adv_item: p Индивидуальный <br> подход <br> к срокам
        .row.mt-5.justify-content-lg-between
            .col-12.col-lg-3.text-lg-left.text-center.d-lg-flex.align-items-center.justify-content-between
                .conditions__icon 
                    img(src="img/icon-1.png")
                .conditions__info
                    span.d-none.d-lg-block.num 01
                    p Выезжаем к заказчику, даже к одному слушателю.
            .col-12.col-lg-3.text-lg-left.text-center.d-lg-flex.align-items-center.justify-content-between
                .conditions__icon 
                    img(src="img/icon-2.png")
                .conditions__info
                    span.d-none.d-lg-block.num 02
                    p Не берем предоплату и предоставляем рассрочку  
            .col-12.col-lg-3.text-lg-left.text-center.d-lg-flex.align-items-center.justify-content-between
                .conditions__icon 
                    img(src="img/icon-3.png")
                .conditions__info
                    span.d-none.d-lg-block.num 03
                    p Обучаем очно, дистанционно и индивидуально  
            .col-12.col-lg-3.text-lg-left.text-center.d-lg-flex.align-items-center.justify-content-between
                .conditions__icon 
                    img(src="img/icon-4.png")
                .conditions__info
                    span.d-none.d-lg-block.num 04
                    p Бесплатные бонусы при обучении некоторым профессиям.   
            