section.direction#direction
    .container
        .row.align-items-center.direction-flex
            .col-12.col-lg-6.text-left
                h2.training__title.text-left Основные <br> направления
                ul.direction__list
                    li.direction__list_item
                        a(href="#").direction__list_item_link Подготовка и повышение квалификации рабочих (служащих)
                    li.direction__list_item
                        a(href="#").direction__list_item_link Курсы целевого назначения
                    li.direction__list_item
                        a(href="#").direction__list_item_link Пожарно-технический минимум
                    li.direction__list_item
                        a(href="#").direction__list_item_link Охрана труда
                    li.direction__list_item
                        a(href="#").direction__list_item_link Обучение по программе «Проверка, прочистка дымовых и вентиляционных каналов»
            .col-12.col-lg-6.text-center.text-lg-left
                .direction__info
                    img.img-fluid(src="img/works.jpg")
                    span.animated.wow.bounceInRight.delay-0.7s Охрана труда
                    p.direction__info_text Согласно статье 221 Трудового кодекса Республики Беларусь «Охрана труда – это система обеспечения безопасности жизни и здоровья работников в процессе трудовой деятельности....
        .row
            .col-12.text-xl-right.text-center
                button.direction__btn.btn Подробнее
