footer.footer#footer
    .container
        .row.align-items-end.justify-content-between
            .col-12.col-lg-3.text-center.text-lg-left
                a.header__logo.footer__logo(href="index.html")
                    img.header__logo_img(src="img/logo.png" alt="logo")
                p.footer__text Повысить квалификацию - легко! <br> Возьмем на себя все вопросы по обучению.
            .col-12.col-lg-6.text-center.text-lg-left.d-none.d-lg-block
                nav.nav__menu.ml-lg-5
                    span.footer__menu_title Меню
                    ul.footer__menu_list.d-flex.flex-wrap
                        li.footer__menu_list_item
                            a.footer__menu_list_item_link(href="#") Главная
                        li.footer__menu_list_item
                            a.footer__menu_list_item_link(href="#") Услуги
                        li.footer__menu_list_item
                            a.footer__menu_list_item_link(href="#") Новости
                        li.footer__menu_list_item
                            a.footer__menu_list_item_link(href="#") О нас
                        li.footer__menu_list_item
                            a.footer__menu_list_item_link(href="#") Отзывы
                        li.footer__menu_list_item
                            a.footer__menu_list_item_link(href="#") Контакты
            .col-12.col-lg-3.text-center.text-lg-left
                .footer__dev.d-lg-flex.align-items-center
                    img.img-fluid(src="img/dev-logo.png")
                    span Разработка <br> сайта
                p.footer__right © 2017 Учебный центр СТАНДАРТ ПРОФПОДГОТОВКИ. <br> Все права защищены.
            