header.header#header.header-page
    .container
        .row.align-items-center.justify-content-between.mt-2.top-header
            .col-6.col-lg-auto.col-md-6.text-md-left.text-xl-left
                a.header__logo(href="index.html")
                    img.header__logo_img(src="img/logo.png" alt="logo")
            .col-lg-6.d-none.d-lg-block
                nav.nav__menu
                    ul.header__menu
                        li.header__menu_item
                            a(href="index.html").header__menu_item_link Главная
                        li.header__menu_item
                            a(href="about.html").header__menu_item_link О нас
                        li.header__menu_item
                            a(href="services.html").header__menu_item_link Услуги
                            ul.subMenu
                                li.subMenu__item
                                    a.subMenu__item_link(href="#") Обучение рабочих
                                li.subMenu__item
                                    a.subMenu__item_link(href="#") Курсы целевого назначения
                                li.subMenu__item
                                    a.subMenu__item_link(href="#") Перевозки опасных грузов (ADR)
                                li.subMenu__item
                                    a.subMenu__item_link(href="#") Пожарно-технический минимум
                                li.subMenu__item
                                    a.subMenu__item_link(href="#") Охрана труда
                                li.subMenu__item
                                    a.subMenu__item_link(href="#") Обучение граждан
                        li.header__menu_item
                            a(href="rewievs.html").header__menu_item_link Отзывы
                        li.header__menu_item
                            a(href="news.html").header__menu_item_link Новости
                        li.header__menu_item
                            a(href="contacts.html").header__menu_item_link Контакты
            .col-12.col-lg-2.d-none.d-lg-block.text-center.text-lg-right
                a.header__tel(href="tel:375447900006") +375 (44) 790 00 06
            .col-12.text-center.d-lg-none.mobile__menu
                .nav-trigger#nav-trigger
                    span.line
                    span.line
                    span.line
                nav(id="nav" class="out")
                    ul.nav__list
                        li
                            a(href="index.html").nav-label Главная
                        li
                            a(href="about.html").nav-label О нас
                        li
                            a(href="services.html").nav-label Услуги
                        li
                            a(href="rewievs.html").nav-label Отзывы
                        li
                            a(href="news.html").nav-label Новости
                        li
                            a(href="contacts.html").nav-label Контакты