section.partners#partners
    .container
        .row
            .col-12.col-lg-4.text-left
                h2.partners__title Мы сотрудничаем
        .row.mt-5.partners__slide.d-none.d-lg-block
            .col-12.d-flex.flex-wrap.m-auto
                .row.align-items-center.justify-content-between.partners__slide_contain
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide1.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide2.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide3.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide4.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide5.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide6.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide7.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide1.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
            .col-12.d-flex.flex-wrap.m-auto
                .row.align-items-center.justify-content-between
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide1.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide2.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide3.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide4.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide5.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide6.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide7.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
                    .col-12.col-lg-3.col-md-5.text-center.mt-5.position-relative.poster
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide1.jpg")
                        .partners__info.text-left
                            .square
                            .descr
                                h5 «Агрокомбинат Снов» 
                                p это современное высокоэффективное многоотраслевое сельскохозяйственное предприятие, специализирующееся на производствемяса свинины, КРС и птицы, а также молока, их переработке и реализации в торговую сеть.
        .row.mt-5.partners__slide.d-block.d-lg-none
            .col-12.d-flex.flex-wrap.m-auto
                .row.align-items-center.justify-content-between
                    .col-12.col-lg-3.col-md-5.text-center.mt-5
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide1.jpg")
                    .col-12.col-lg-3.col-md-5.text-center.mt-5
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide2.jpg")
                    .col-12.col-lg-3.col-md-5.text-center.mt-5
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide3.jpg")
                    .col-12.col-lg-3.col-md-5.text-center.mt-5
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide4.jpg")
            .col-12.d-flex.flex-wrap.m-auto
                .row.align-items-center.justify-content-between
                    .col-12.col-lg-3.col-md-5.text-center.mt-5
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide5.jpg")
                    .col-12.col-lg-3.col-md-5.text-center.mt-5
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide6.jpg")
                    .col-12.col-lg-3.col-md-5.text-center.mt-5
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide7.jpg")
                    .col-12.col-lg-3.col-md-5.text-center.mt-5
                        img.img-fluid.parners__slide_img.m-auto(src="img/slide1.jpg")
                 
                
            

