section.training#training 
    .container 
        .row.flex-wrap
            .col-12.col-lg-4.text-left
                h2.training__title.text-left Обучаем рабочим <br> профессиям
                p.training__text Перечень профессий не является исчерпывающим. Специалисты нашего учебного центра готовы разработать и реализовывать иные учебные программы дополнительного образования взрослых с целью обеспечения отраслей экономики квалифицированными кадрами и  удовлетворения потребностей личности в профессиональном совершенствовании.
                button.training__btn.btn Подробнее
            .col-12.col-lg-8
                ul.training__special
                    li.training__special_item
                    a.training__special_item_link(href="#") Аккумуляторщик
                    li.training__special_item
                    a.training__special_item_link(href="#") Литейщик пластмасс
                    li.training__special_item
                    a.training__special_item_link(href="#") Оператор сушильных установок (КЗС)
                    li.training__special_item
                    a.training__special_item_link(href="#") Аппаратчик химводоочистки
                    li.training__special_item
                    a.training__special_item_link(href="#") Лифтер
                    li.training__special_item
                    a.training__special_item_link(href="#") Плотник-бетонщик
                    li.training__special_item
                    a.training__special_item_link(href="#") Вальщик леса
                    li.training__special_item
                    a.training__special_item_link(href="#") Машинист автовышки
                    li.training__special_item
                    a.training__special_item_link(href="#") Слесарь КИПиА
                    li.training__special_item
                    a.training__special_item_link(href="#") Водитель погрузчика
                    li.training__special_item
                    a.training__special_item_link(href="#") Машинист (кочегар) котельной
                    li.training__special_item
                    a.training__special_item_link(href="#") Слесарь по ремонту автомобилей
                    li.training__special_item
                    a.training__special_item_link(href="#") Водитель такси
                    li.training__special_item
                    a.training__special_item_link(href="#") Монтажник строительных конструкций
                    li.training__special_item
                    a.training__special_item_link(href="#") Слесарь-сантехник, ремонтник
                    li.training__special_item
                    a.training__special_item_link(href="#") Дорожный рабочий
                    li.training__special_item
                    a.training__special_item_link(href="#") Монтировщик шин
                    li.training__special_item
                    a.training__special_item_link(href="#") Станочник деревообрабатывающих станков
                    li.training__special_item
                    a.training__special_item_link(href="#") Изолировщик
                    li.training__special_item
                    a.training__special_item_link(href="#") Облицовщик-плиточник
                    li.training__special_item
                    a.training__special_item_link(href="#") Стропальщик
                    li.training__special_item
                    a.training__special_item_link(href="#") Истопник
                    li.training__special_item
                    a.training__special_item_link(href="#") Оператор АЗС
                    li.training__special_item
                    a.training__special_item_link(href="#") Токарь
                    li.training__special_item
                    a.training__special_item_link(href="#") Кровельщик
                    li.training__special_item
                    a.training__special_item_link(href="#") Оператор манипулятора
                    li.training__special_item
                    a.training__special_item_link(href="#") Электрогазосварщик

