doctype html
html(lang="ru")
    include includes/head.pug
        title Отзывы
    body
        include includes/header-page.pug
        section.services
            .container 
                .row 
                    .col-auto.text-center.text-lg-left
                        ul.bread-crumbs
                            li
                                a(href="index.html") Главная
                            li
                                span Отзывы
                .row
                    .col-12.text-center.text-lg-left
                        h3.title-page Отзывы
                .row.mt-3
                    .col-12.col-lg-3.col-md-4.text-center.mt-5
                        a(data-fancybox="gallery" href="img/rewievs/rewievs-1.jpg")
                            img.img-fluid(src="img/rewievs/rewievs-1.jpg")
                        p.rewievs__text Иностранное производственное унитарное предприятие «Маурино» 
                    .col-12.col-lg-3.col-md-4.text-center.mt-5
                        a(data-fancybox="gallery" href="img/rewievs/rewievs-1.jpg")
                            img.img-fluid(src="img/rewievs/rewievs-1.jpg")
                        p.rewievs__text Иностранное производственное унитарное предприятие «Маурино» 
                    .col-12.col-lg-3.col-md-4.text-center.mt-5
                        a(data-fancybox="gallery" href="img/rewievs/rewievs-1.jpg")
                            img.img-fluid(src="img/rewievs/rewievs-1.jpg")
                        p.rewievs__text Иностранное производственное унитарное предприятие «Маурино» 
                    .col-12.col-lg-3.col-md-4.text-center.mt-5
                        a(data-fancybox="gallery" href="img/rewievs/rewievs-1.jpg")
                            img.img-fluid(src="img/rewievs/rewievs-1.jpg")
                        p.rewievs__text Иностранное производственное унитарное предприятие «Маурино» 
                    .col-12.col-lg-3.col-md-4.text-center.mt-5
                        a(data-fancybox="gallery" href="img/rewievs/rewievs-1.jpg")
                            img.img-fluid(src="img/rewievs/rewievs-1.jpg")
                        p.rewievs__text Иностранное производственное унитарное предприятие «Маурино» 
                    .col-12.col-lg-3.col-md-4.text-center.mt-5
                        a(data-fancybox="gallery" href="img/rewievs/rewievs-1.jpg")
                            img.img-fluid(src="img/rewievs/rewievs-1.jpg")
                        p.rewievs__text Иностранное производственное унитарное предприятие «Маурино» 
                    .col-12.col-lg-3.col-md-4.text-center.mt-5
                        a(data-fancybox="gallery" href="img/rewievs/rewievs-1.jpg")
                            img.img-fluid(src="img/rewievs/rewievs-1.jpg")
                        p.rewievs__text Иностранное производственное унитарное предприятие «Маурино» 
                    .col-12.col-lg-3.col-md-4.text-center.mt-5
                        a(data-fancybox="gallery" href="img/rewievs/rewievs-1.jpg")
                            img.img-fluid(src="img/rewievs/rewievs-1.jpg")
                        p.rewievs__text Иностранное производственное унитарное предприятие «Маурино» 


                    

        include includes/map.pug
        include includes/contacts.pug
        include includes/footer.pug
        include includes/scripts.pug